.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  background-image: url(../images/Close.svg);
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  line-height: 17.6px;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__input {
  padding: 16px 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  color: #212121;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  cursor: pointer;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 8px;
  gap: 8px;
}

.modal__submit-button:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
