.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  cursor: pointer;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: #fff;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 32px;
  line-height: 32px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  gap: 12px;
  max-width: 420px;
  font-family: Poppins, Arial, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  margin-top: auto;
  background-color: transparent;
  display: flex;
  border: none;
  height: 16px;
  gap: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgb(33, 33, 33);
  opacity: 70%;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.profile__add-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  align-items: center;
  margin-left: auto;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: none;
  gap: 8px;
  height: 52px;
  width: 149px;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .profile__avatar-btn {
    visibility: visible;
  }

  /* TODO - set content of ::after element to "" */
  /* TODO - finish mobile avatar button styles */

  .profile__avatar {
    margin: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
    text-align: center;
  }

  .profile__column {
    text-align: center;
    margin: 0;
  }

  .profile__add-button {
    margin-top: 20px;
    margin: 20px auto 0;
    width: 100%;
    max-width: 288px;
  }

  .profile__edit-button {
    justify-content: center;
  }
}
